
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h2>Cars List</h2>
<br>


<table border="1">
    <tr>
        <th>MODEL</th>
        <th>SERIES</th>
        <th>COLOR</th>
    </tr>
    <tr th:each="car: ${cars}">
        <td th:text="${car.getModel()}">model</td>
        <td th:text="${car.getColor()}">model</td>
        <td th:text="${car.getAge()}">model</td>
    </tr>
</table>


</body>
</html>